alias .a="$EDITOR ~/.aliases && source ~/.aliases"
alias .v="$EDITOR ~/.vimrc"

alias ll="ls -la"
alias up="cd .."

# Git
alias gs='git status -sb'
alias gb='git branch'
alias gl='git log'
alias gf='git fetch'
alias gfs='gf && gs'
alias glo='git log --oneline --decorate'
alias gap='git add --patch'
alias gco='git checkout'
alias gcv='git commit -v'
alias gcm='git commit -m'
alias gca='git commit --amend'
alias gpp='git pull --rebase && git push'
alias gmf='git merge --ff-only'
alias gcp='git cherry-pick'
alias gwp='git whatchanged -p'
alias gch='git cherry -v'

# Passenger
alias rr="touch tmp/restart.txt"

# Rails
alias ss="script/server"
alias sc="script/console"
alias sg="script/generate"
alias tf="tail -f -n 200"
alias tfdev="tf log/development.log"
alias tftest="tf log/test.log"

# MP3 Downloader
alias mp3="~/Projects/scripts/mp3.rb"

# Homebrew
alias bu="brew update && brew outdated"
alias ua="rvm get head && rake update_vim_plugins && bu"
