snippet mcol
	add_column :${1:table_name}, :${2:column_name}, :${3:column_type}
snippet rcol
	remove_column :${1:table_name}, :${2:column_name}
snippet mind
	add_index :${1:table_name}, :${2:column_name}
snippet rind
	remove_index :${1:table_name}, :${2:column_name}
snippet fcs
	:focus => true
